// Main slider
.main-slider{
    position: relative;
    overflow: hidden;
    margin-bottom: 5.625rem;
    height: 100vh;
    @include md{
        height:auto;
    }
    @include sm{
        margin-bottom: 2.5rem;
    }
    // .owl{
    //     &-nav{
    //         position: absolute;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         width: 100%;
    //         padding-#{$start}: 3rem;
    //         padding-#{$end}: 3rem;
    //     }
    //     &-prev,&-next{
    //         border: solid 4px $pinkColor;
    //         border-radius: 50%;
    //         width: 2.5rem;
    //         height: 2.5rem;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         font-family: sans-serif;
    //         font-size: 2rem;
    //         font-weight: 900;
    //         color: $pinkColor;
    //     }
    // }
    .item-info{

        @include md{
        height: 30rem;
        }
        @include sm{
            height: 25rem;
        }
        
        img{
            height: 100%;

            
        }
        .item-overlay{
            content: "";
            @include overlay;
            background:linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.78), 
                rgba(0, 0, 0, 0.96));
        }
    
    }
    
    .main-content{
        position: absolute;
        top: 50%;
        #{$end}: 50%;
        // #{$start}: 50%;
        transform: translate(-50% ,-50%);
        text-align: center;
        z-index: 10;
        @include sm{
            margin-bottom: 2.1875rem;
        }
        
        h1{
            font-size: 57px;
            font-family: $mainfont;
            font-weight: $font-b;
            line-height: 1.18;
            color: $pinkColor;
            @include md{
                font-size: 44px;
            }
            @include sm{
                font-size: 18px;
            }
            // @include xs{
            //     font-size: 18px;
            // }
            
        }
        p{
            opacity: 0.71;
            font-family:$secondfont;
            font-size: 16px;
            line-height: 1.63;
            color: $whiteColor;
            @include md{
                font-size: 10px;
                margin-top: .625rem;
            }
            @include sm{
                font-size: 10px;
                margin-top: .5rem;
                line-height: 1.5;
            }
            
        }
        .myBtn{
            @extend%button-bg;
            @include md{
                margin-top: .3125rem;
            }
        }
    }
}



// Abouut
.about{
    margin-bottom: 8.625rem;
    .content-title{
        @extend %content-title;
        @include sm{
            margin-bottom: 1.25rem;
        }
        .title{
            @extend %title;
            color: $black2Color;
            @include sm{
                font-size: 30px
            }
        }
        img{
            @extend %title-img;
        }
    }
    .about-content{
    text-align: center;
        img{
            width: 100%;
            height: auto;
            @include prefixer (box-shadow, 0px 7px 10px 0px #c5c9cb , webkit moz);
            @include md{
                margin-top: 1.875rem;
            }
        }
        .about-body{
            margin: 0 2.3125rem;
            font-family: $mainfont;
            line-height: 1.67;
            color: $blackColor;
            font-size: large;
            text-align: right;
            
            @include md{
                font-size: 4px;
            }

        }
        .myBtn{
            @extend %button-bg;
            display: block;
            margin-#{$start}: 2.1875rem;
            margin-top: 1.25rem;
            @include sm{
                margin: auto;
                margin-top: .9375rem;
            }

        }
    }
}



// New Prouduct
.new-Prouduct{
    // background-image: url("/images/backgrounds/new.jpg");
    opacity: 0.91;
    background-color: $black3Color;
    margin-bottom: 3.625rem;

    .content-title{
        @extend %content-title;
        @include sm{
            margin-bottom: 1.25rem;
        }
        .title{
            @extend %title;
            padding-top: 3.25rem;
            color: $whiteColor;
            @include sm{
                font-size: 25px;
            }
        }
        img{
            @extend %title-img;
        }
        
    }
    .item-info{
        padding:.625rem;
        border-radius: 10px;
        background-color: $whiteColor;
        margin-bottom: 6.875rem;
        h4{
            margin: .1875rem .1875rem .03125rem 0rem;
            font-family: $mainfont;
            font-size: 25px;
            font-weight: $font-b;
            line-height: 2.68;
            text-align: right;
            color: $black2Color;

            @include sm{
                font-size: 20px;
                margin: 0rem;
            }

        }
        img{
            width:100%;
        }
        hr{
            @extend %line;

            @include sm{
                margin: -0.34375rem 0rem .1875rem;
            }
        }
        p{
            font-family: $mainfont;
            font-size: $cardbodysize;
            line-height: 2.14;
            text-align: right;
            color: $greyColor;
            @include sm{
                font-size: 9px;
            }
        }
        .Prouduct-footer{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.25rem;

            .myBtn{
                @extend %button-bg;
            }

            span{
                font-family: $mainfont;
                font-size: 20px;
                font-weight: $font-b;
                text-align:$start;
                color: $pinkColor;
            }
        }
    }
    // .btn-product{
    //     @extend%button-bg;
    //         @include md{
    //             margin-top: .3125rem;
    //         }

    // }
}


// Contcat

.Contact{
    margin-bottom: 6.75rem;
    @include sm{
        display: none;
    }

    .content-title{
        @extend %content-title;
        @include sm{
            margin-bottom: 1.25rem;
        }
        .title{
            @extend %title;
            // padding-top: 3.25rem;
            color: $pinkColor;
            font-size: 31px;
        }
        img{
            @extend %title-img;
        }
        
    }
    .contact-content{
        form{
            @include sm{
                display: none;
            }
        
            .contact-p{
                display: flex;
                p{
                    .des-p{
                        border: solid 1px $grey2Color;
                        margin: 2.78125rem 3.8px 1.4rem 1.975rem;
                        padding: .96875rem .825rem 1.15625rem 14.13125rem;
                    }
                }
            }
            p{
                .ccomment{
                    margin: -0.475rem .1875rem 1.48125rem .125rem;
                    padding: .31875rem .5rem 7.45625rem 46rem;
                    border: solid 1px $grey2Color;
                }
            }
            
            p{
                .submit{
                    @extend%button-bg;
                }
            }
    
        }
        .maps{
            @include xl{
                display: none;
            }
            @include md{
                display: none;
            }
        }
    }
    
}